<!DOCTYPE html>
<html>
  <head>
    <title>Plume Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container mx-auto px-5 flex bg-grey-100">
      <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </main>
  </body>
</html>
